/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*End of CSS Reset*/

.card-header {
	font-family: 'Fredoka One', cursive;
}

.navbar {
		background-image: linear-gradient(blue,black,black,blue);
}

#bckground {
	opacity: .4;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center fixed;
	background-attachment: fixed;
}